
.navbar-bg{
    background-color: palevioletred !important;
        .navbar-brand{
            color: white !important;
            font-weight: bold;
        }
        .navbar-nav{
            .show{
                .nav-link{
                    color: white;
                }
 
            }
            .nav-link{
                color: white !important;
                font-weight: bold;
            }

        }
    

}