.finishRegistering{
    float: right;
    
    button{
        margin: 15px 0px 0px 0px;

        &.btn-finish{
          width: 100%;
        }

      }

      .inline{
        display: flex;
        justify-content: space-between;       

        button{
          width: 47%;
          display: inline-block;
        }
      }

   

      
}