body{
    h1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:palevioletred;
        margin-top: 50px;
    }

    .center{
        margin: auto;
    }   
}

